.hero-section {
    background: linear-gradient(135deg, #000057, #29e487);
    color: white;
    margin: 25px;
    margin-top: 120px;
    padding: 80px 20px;
    position: relative;
    border-radius: 8px;
  }
  
  .hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero-subtitle {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
  
  button-group .btn {
    border-radius: 25px;
    background-color: #67b7d6;
  }
  
  form .form-control {
    border-radius: 20px;
  }
  
  form .btn {
    border-radius: 20px;
  }
  